*.sfd
hw03/*/final_font/*.svg
hw03/NOTO/final_font/fontpico.svg
hw03/MOE/final_font/fontpico.svg
hw03/NOTO/NOTO_113590051.sfd
hw03/MOE/MOE_1135590051.sfd
hw02/02-3_font_packager_self/final_font/113590051.sfd
.vscode
*/Fontdata
hw05/apikey.txt
